## A variable is a reserved memory area (memory address) to store value. 

* For example, we want to store an employeeâ€™s salary. In such a case, we can create a variable and store salary using it. Using that variable name, you can read or modify the salary amount.
`

# In this complete the task as per the instruction

For example.

In [13]:
# Define a variable named salary and assign a value to it

saalary = 100




print(saalary)

100

In [3]:
# Find the sum o# Define the list of numbers
numbers = [6, 8, 10, 19]

# Calculate the sum
total = sum(numbers)

# Display the result
print(f"The sum of {numbers} is {total}.")

The sum of [6, 8, 10, 19] is 43.

In [4]:
# Raise 10 to the power of 40# Calculate 10 to the power of 40
result = 10 ** 40

# Display the result
print(f"10 to the power of 40 is: {result}")

10 to the power of 40 is: 10000000000000000000000000000000000000000

In [5]:
# Define a variable called Currentyear and assign a value to it

Currentyear = 24
currentyear =  24

In [5]:
# Define a variable called my_integer and assign a value 25 to it

my_integer = 25
print(my_integer)

25

In [6]:
# Define a variable called age and assign the value 23 and print the result using print()
age = 23
print(age)

23

In [8]:
# now print the type of the age variable using the type() function

age = 23
print(type(age))

<class 'int'>

In [10]:
# now assign new float variable [float means no with decimal value] to the age 



age = 23.0
print(age)

23.0

In [11]:
# Create 3 different variable and store any values you like

# make sure to use camelCase, Pascal and Snake_case
# Camel Case: first word lowercase, subsequent words capitalized
myAge = 25

# Pascal Case: each word capitalized
MyAge = 25

# Snake Case: all words lowercase, separated by underscores
my_age = 25

In [9]:
# Write in markdown about three takeaway from your python and datascience class